@charset "UTF-8";
/*контейнеры*/
/*контейнеры*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style-type: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* BODY */
html {
  font-size: 10px;
  font-family: "Poppins";
  line-height: 1.5;
}

body {
  position: relative;
  max-width: 1440px;
  max-height: 100vh;
  margin: 0 auto;
  background-color: black;
  font-family: "Poppins";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f5f5f5;
}

.container {
  max-width: 100vw;
}

.btn {
  transition: all linear 0.3s;
  border: none;
}
.btn:hover {
  background-color: #000000;
  color: #f5f5f5;
  font-size: 1.8rem;
  border: 1px solid #f5f5f5;
}

.btn-shop {
  width: 149px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000000;
  background: #f5f5f5;
}

.typography__logo {
  font-family: "Playfair Display";
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f5f5f5;
  line-height: 120%;
}

.typography__text-secondary {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f5f5f5;
  line-height: 150%;
}

.typography__text-twentity {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f5f5f5;
  line-height: 120%;
}

.typography__text-small {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #f5f5f5;
  line-height: 120%;
}

.typography__text-playfair {
  font-family: "Playfair Display";
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f5f5f5;
  line-height: 120%;
}

.typography__line {
  font-family: "Poppins";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000000;
}

.container {
  position: relative;
  padding-left: clamp(100px, 2.5vw, 100px);
  padding-right: clamp(100px, 2.5vw, 100px);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 64px;
  color: #f5f5f5;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}
.header .menu {
  display: flex;
  gap: 40px;
}
.header .list {
  white-space: nowrap;
}
.header .list > a:hover {
  color: #fe772d;
}
.header .logo {
  justify-self: center;
}
.header .logo h1 {
  font-family: "Playfair Display";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 5 0;
  line-height: 120%;
}
.header .cart {
  justify-self: end;
}
.header .cart .fa-shopping-cart {
  margin-right: 8px;
}
.mian {
  margin-top: 70.5px;
  /*hero section*/
  /*social section*/
  /*new in section*/
  /*info sectiion*/
  /*Featured Collections*/
}
.mian .hero {
  display: flex;
  justify-content: space-between;
}
.mian .hero-content {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 50px;
  margin-left: 15px;
  max-width: 340px;
  display: grid;
  gap: 32px;
}
.mian .hero-pic {
  display: flex;
  gap: 32px;
  /* .hero-pic__item */
}
.mian .hero-pic .wrapper:nth-child(1) > img {
  max-height: 442px;
}
.mian .hero-pic .wrapper:nth-child(2) > img {
  max-height: 559px;
}
.mian .hero-pic p {
  font-family: "Poppins";
  font-size: #1c1c1c;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #A6A6A6;
  line-height: 150%;
  max-width: 376px;
}
.mian .hero .arrow__down {
  position: absolute;
  bottom: -154px;
  left: 64px;
  font-family: "Poppins";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f5f5f5;
}
.mian .hero .arrow__down:hover {
  cursor: pointer;
}
.mian .hero .arrow__down:hover > svg {
  animation: arrow linear 1s infinite forwards;
}
.mian .social {
  margin-top: 154px;
  display: flex;
  align-items: center;
}
.mian .social-line {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
}
.mian .social-links {
  width: 100%;
  /* .social-links__menu */
}
.mian .social-links__menu {
  display: flex;
  justify-content: space-around;
}
.mian .newIn {
  width: 100%;
  margin: 0 auto;
  margin-top: 78px;
  padding-bottom: 153px;
  border-bottom: 1px solid #f5f5f5;
}
.mian .newIn .filter {
  /* .filter__category */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mian .newIn .filter h2 {
  font-size: 5.8rem;
  line-height: 120%;
}
.mian .newIn .filter-menu {
  font-size: 2rem;
  display: flex;
  gap: 80px;
}
.mian .newIn q {
  margin-top: 22px;
  display: block;
  max-width: 499px;
  font-family: "Poppins";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #A6A6A6;
  line-height: 150%;
}
.mian .newIn .newIn-cards {
  /* .filter-cards__card */
  display: flex;
  gap: 54px;
  margin-top: 47px;
}
.mian .newIn .newIn-cards__card {
  display: grid;
  overflow: hidden;
}
.mian .newIn .newIn-cards__card img {
  grid-area: 1/1;
  width: 100%;
  transition: all cubic-bezier(0, 0.1, 0.3, 0.5) 0.5s;
}
.mian .newIn .newIn-cards__card-description {
  margin-left: 32px;
  margin-bottom: 32px;
  grid-area: 1/1;
  align-self: flex-end;
  z-index: 2;
}
.mian .newIn .newIn-cards__card:hover img {
  filter: sepia(0.5);
  scale: 1.3;
  rotate: 12deg;
}
.mian .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  padding-bottom: 121px;
  border-bottom: 1px solid #f5f5f5;
  height: -moz-fit-content;
  height: fit-content;
}
.mian .info h2 {
  display: block;
  font-size: 6.2rem;
  line-height: 120%;
  padding: 0 12px;
}
.mian .info-pic {
  margin-top: 104px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 58px;
}
.mian .info-pic img {
  width: 100%;
  transition: all 0.5s;
}
.mian .info-pic img:hover {
  display: block;
  filter: sepia(1) hue-rotate(90deg);
}
.mian .info-pic img:nth-child(1) {
  grid-area: 1/1/span 2/1;
  height: -webkit-fill-available;
}
.mian .info-pic img:nth-child(2) {
  grid-area: 1/2;
  align-self: start;
}
.mian .info-pic .wrapper {
  display: flex;
  flex-direction: column;
}
.mian .info-pic .wrapper p {
  line-height: 150%;
}
.mian .info-pic .wrapper button {
  margin-top: 58px;
}
.mian .featured {
  margin-top: 120px;
  padding-bottom: 96px;
}
.mian .featured-content {
  max-width: 750px;
}
.mian .featured-content h2 {
  font-size: 5.7rem;
  line-height: 120%;
}
.mian .featured-content p {
  margin-top: 32px;
  font-weight: 500;
  line-height: 120%;
}
.mian .featured-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.mian .featured-pic img {
  max-width: 50%;
  transition: all 0.5s;
}
.mian .featured-pic img:hover {
  filter: sepia(1) hue-rotate(243deg);
}
.mian .line {
  min-width: 100%;
  padding: 68px 118px;
  background-color: #f5f5f5;
}
.mian .line .stocks-menu,
.mian .line .infoLenta {
  display: flex;
  gap: 127px;
  overflow: hidden;
  line-height: 120%;
}
.mian .line .stocks-menu__item,
.mian .line .infoLenta__item {
  text-wrap: nowrap;
  cursor: pointer;
}
.mian .line .stocks-menu__item a,
.mian .line .infoLenta__item a {
  display: block;
  font-size: 4.2rem;
}
.mian .line .stocks-menu__item:hover > a,
.mian .line .infoLenta__item:hover > a {
  animation: animtext linear 1s forwards;
}
.mian .line .wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mian .line .wrapper .infoLenta {
  flex-shrink: 0;
  display: flex;
  gap: 173px;
  justify-content: space-around;
  min-width: 100%;
}
.mian .line .wrapper .infoLenta__item {
  flex: 0 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  transition: all 0.1s ease-in-out;
}
.mian .line .wrapper .marquee {
  animation: scroll 20s linear infinite forwards;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
.mian .getInTouch {
  margin-top: 96px;
  padding-bottom: 98px;
}
.mian .getInTouch-video {
  display: grid;
  margin-top: 96px;
}
.mian .getInTouch-video #video {
  grid-area: 1/1;
}
.mian .getInTouch-video #controls {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: end;
}
.mian .getInTouch-video #playBtn {
  position: relative;
  grid-area: 1/1;
  transition: all 0.5s;
  justify-self: center;
  align-self: center;
  z-index: 50;
}
.mian .getInTouch-content {
  margin-top: 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #A6A6A6;
}
.mian .getInTouch-content picture img {
  max-width: 100%;
}
.mian .getInTouch-content form {
  max-width: 422px;
  display: grid;
  gap: 34px;
  line-height: 150%;
}
.mian .getInTouch-content form h2 {
  font-family: "Poppins";
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f5f5f5;
  line-height: 120%;
}
.mian .getInTouch-content form fieldset {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.mian .getInTouch-content form input {
  width: 350px;
  border: none;
  border-bottom: 1px solid #A6A6A6;
  padding-bottom: 8px;
}
.mian .getInTouch-content form input:valid ~ button {
  background-color: rgb(218, 250, 174);
}
.mian .getInTouch-content form input:out-of-range {
  background-color: red;
}
.mian .getInTouch-content form button {
  position: relative;
  left: -31px;
  width: 31px;
  height: 31px;
  border-radius: 26.646px;
  background: #fff;
  transition: all linear 0.3s;
}
.mian .getInTouch-content form button:hover {
  background-color: #000000;
  color: #f5f5f5;
  font-size: 1.8rem;
  box-shadow: 0 0 0 1px #f5f5f5;
}
.mian .getInTouch-content form button:hover path {
  fill: #f5f5f5;
}
.mian .infolenta__item {
  text-wrap: nowrap;
  display: block;
  font-family: "Poppins";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f5f5f5;
  color: #000000;
  line-height: 120%;
}

.footer {
  padding-bottom: 95px;
}
.footer .--grid-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-template-rows: 1fr;
}
.footer .--grid-36 {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer .footer-top {
  display: flex;
  justify-content: center;
  gap: 94px;
  margin-top: 142px;
}
.footer .footer-top .letsGo {
  max-width: 384px;
}
.footer .footer-top .letsGo h2 {
  font-size: 3.2rem;
}
.footer .footer-top .letsGo p {
  font-size: 1.8rem;
}
.footer .footer-down {
  display: flex;
  justify-content: center;
  margin-top: 107px;
}

/*anims*/
@keyframes arrow {
  50% {
    translate: 0 10px;
    opacity: 0.2;
  }
  to {
    translate: 0 0px;
    opacity: 1;
  }
}
@keyframes animtext {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}
@media (max-width: 640px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 832px) {
  .container {
    padding-left: clamp(50px, 2.5vw, 50px);
    padding-right: clamp(50px, 2.5vw, 50px);
  }
  body .mian .social .social-links__menu {
    gap: 20px;
    font-size: 3rem;
    text-wrap: nowrap;
    padding: 0 30px;
  }
  body .mian .newIn {
    padding-bottom: 100px;
  }
  body .mian .newIn .filter {
    /* .filter__category */
    flex-direction: column;
    gap: 20px;
  }
  body .mian .newIn .filter-menu {
    gap: 40px;
    text-wrap: nowrap;
  }
  body .mian .newIn q {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 60%;
    font-family: "Poppins";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #A6A6A6;
  }
  body .mian .newIn .newIn-cards {
    /* .filter-cards__card */
    display: flex;
    gap: 20px;
    margin-top: 47px;
  }
  body .mian .newIn .newIn-cards__card {
    display: grid;
    overflow: hidden;
  }
  body .mian .newIn .newIn-cards__card img {
    grid-area: 1/1;
    width: 100%;
    transition: all cubic-bezier(0, 0.1, 0.3, 0.5) 0.5s;
  }
  body .mian .newIn .newIn-cards__card-description {
    margin-left: 32px;
    margin-bottom: 32px;
    grid-area: 1/1;
    align-self: flex-end;
    z-index: 2;
  }
  body .mian .newIn .newIn-cards__card:hover img {
    filter: sepia(0.5);
    scale: 1.3;
    rotate: 12deg;
  }
  body .mian .info {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  body .mian .info h2 {
    font-size: 5rem;
  }
  body .mian .info-pic {
    margin-top: 54px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 38px;
  }
  body .mian .info-pic img {
    width: 100%;
    transition: all 0.5s;
  }
  body .mian .info-pic img:hover {
    display: block;
    filter: sepia(1) hue-rotate(90deg);
  }
  body .mian .info-pic img:nth-child(1) {
    grid-area: 1/1/1/1;
  }
  body .mian .info-pic img:nth-child(2) {
    grid-area: 2/1;
  }
  body .mian .info-pic .wrapper button {
    margin-top: 28px;
  }
  body .mian .featured {
    margin-top: 100px;
    padding-bottom: 96px;
  }
  body .mian .featured-pic {
    flex-direction: column-reverse;
    gap: 30px;
  }
  body .mian .featured-pic img {
    max-width: 100%;
  }
  body .mian .line {
    padding: 48px 0;
  }
  body .mian .line .stocks-menu,
  body .mian .line .infoLenta {
    gap: 50px;
    overflow: visible;
    justify-content: center;
  }
  body .mian .line .stocks-menu__item a,
  body .mian .line .infoLenta__item a {
    font-size: 3rem;
  }
  body .mian .line .wrapper .infoLenta {
    gap: 100px;
  }
  body .mian .getInTouch {
    margin-top: 46px;
    padding-bottom: 48px;
  }
  body .mian .getInTouch-video {
    margin-top: 0px;
  }
  body .mian .getInTouch-content {
    margin-top: 59px;
  }
  body .mian .getInTouch-content form {
    gap: 24px;
  }
  body .footer {
    padding-bottom: 55px;
  }
  body .footer .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 64px;
    margin-top: 64px;
    text-align: center;
  }
  body .footer .footer-top .letsGo {
    grid-area: 1/1/1/span 3;
    max-width: 384px;
    justify-self: center;
  }
  body .footer .footer-top .letsGo h2 {
    font-size: 3.2rem;
  }
  body .footer .footer-top .letsGo p {
    font-size: 1.8rem;
  }
  body .footer .footer-top .lication {
    font-size: 2rem;
  }
  body .footer .footer-top .links {
    font-size: 2rem;
  }
  body .footer .footer-top .legal {
    font-size: 2rem;
  }
  body .footer .footer-down {
    display: flex;
    justify-content: center;
    margin-top: 57px;
  }
}
@media (max-width: 961px) {
  body > main > div:nth-child(3) > section > div.getInTouch-content {
    justify-content: center;
  }
}
@media (max-width: 1020px) {
  body .mian .hero {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  body .mian .hero-content {
    max-width: 100%;
  }
  body .mian .hero-content button {
    justify-self: center;
  }
  body .mian .hero .arrow__down {
    position: absolute;
    bottom: -120px;
    left: 48%;
  }
}/*# sourceMappingURL=main.css.map */